<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lglstudy.spring_security.mapper.UserMapper">

    <!--根据用户名查询对应密码
    String findPasswordByUsername(@Param("username") String username);-->
    <select id="findPasswordByUsername" resultType="com.lglstudy.spring_security.pojo.User">
        select * from user where username = #{username}
    </select>
</mapper>